@mixin meros-nav-base {
    // Base styles
    .wp-block-navigation__responsive-container {
        position: fixed !important;
        top: 0;
        display: flex !important;
        justify-content: flex-start;
        height: 100vh !important;
        background: #fff !important;
        z-index: 100002 !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        will-change: transform;
        animation: none !important;
        opacity: 1 !important;
        pointer-events: auto !important;

        // Animates the menu opening from the left
        &.meros-nav-direction-left {
            right: 0 !important;
            left: auto !important;
            width: 80vw !important;
            max-width: 320px !important;
            transform: translateX(100%) !important;
            box-shadow: -2px 0 12px rgba(0, 0, 0, 0.12) !important;
            transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);

            &.is-menu-open {
            transform: translateX(0) !important;
            }
        }

        // Animates the menu opening from the right
        &.meros-nav-direction-right {
            left: 0 !important;
            right: auto !important;
            width: 80vw !important;
            max-width: 320px !important;
            transform: translateX(-100%) !important;
            box-shadow: 2px 0 12px rgba(0, 0, 0, 0.12) !important;
            transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);

            &.is-menu-open {
            transform: translateX(0) !important;
            }
        }

        // Animates the menu opening from the right
        &.meros-nav-direction-top {
            left: 0 !important;
            right: auto !important;
            width: 100% !important;
            transform: translateY(-100%) !important;
            box-shadow: 2px 0 12px rgba(0, 0, 0, 0.12) !important;
            transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);

            &.is-menu-open {
            transform: translateY(0) !important;
            }
        }
    }

    .wp-block-navigation__responsive-container 
    .wp-block-navigation__responsive-dialog 
    .meros-nav-top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;;
    }

    .wp-block-navigation__responsive-container 
    .wp-block-navigation__responsive-dialog 
    .meros-nav-top-section {
        
        .meros-nav-logo {
            padding: 10px 10px 0 20px;

            a img {
                width: 60px;
            }
        }
        
        .wp-block-navigation__responsive-container-close {
            position: relative;
            padding: 10px 20px 0 10px;
            cursor: pointer;
            z-index: 1101;
        }
    }

    .wp-block-navigation__responsive-container-content {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .wp-block-navigation__responsive-container.is-menu-open 
    .wp-block-navigation__responsive-container-content {
        opacity: 1;
        visibility: visible;
        padding-top: 0;
        pointer-events: auto;
        transition-delay: 0.1s;
        gap: 0;
    }

    .wp-block-navigation__responsive-container 
    .wp-block-navigation__responsive-dialog
    .wp-block-navigation__responsive-container-content
    .wp-block-navigation__container {
        width: 100%;

        .wp-block-navigation-item {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 15px 10px 15px 20px;
            border-bottom: 1px solid #e5e5e5;

            &:hover {
                background-color: var(--meros-nav-highlight-color, #f0f0f0) !important;
            }
            &:focus {
                background-color: var(--meros-nav-highlight-color, #f0f0f0) !important;
            }
            &.current-menu-item {
                background-color: var(--meros-nav-highlight-color, #f0f0f0) !important;
            }
        }
    }

    .wp-block-navigation__submenu-icon {
        display: inline-block !important;
        margin-left: 2px !important;
    }

    .wp-block-navigation__responsive-container.is-menu-open 
    .wp-block-navigation__responsive-container-content 
    .has-child .wp-block-navigation__submenu-container {
        right: 0;
        position: absolute;
        padding: 0;
        width: 100%;

        .wp-block-navigation-item__content {
            padding-left: 10px;
        }
    }

    .wp-block-navigation-submenu__toggle[aria-expanded="false"]~.wp-block-navigation__submenu-container {
        max-height: 0 !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }
}