@use './styles/meros-nav-base' as *;

// Always show styles regardless of screen size
.has-meros-nav-always {
  @include meros-nav-base;
}

// Only show styles on mobile
@media (max-width: 599px) {
  .has-meros-nav-mobile {
    @include meros-nav-base;
  }
}

// Desktop menu highlight style
@media (min-width: 600px) {
  .has-meros-nav-desktop-highlight 
  .wp-block-navigation-item:not(.wp-block-navigation-submenu .wp-block-navigation-item) {
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: calc(100% + 5px);
      height: 1px;
      background-color: transparent;
      border-bottom: 1px solid transparent;
      transition: background-color 0.2s ease, border-color 0.2s ease;
    }

    &:hover::after,
    &.current-menu-item::after {
      background-color: var(--meros-nav-highlight-color);
      border-bottom-color: var(--meros-nav-highlight-color);
    }
  }
}